In [1]:
def add(a,b):
    return a + b

In [2]:
add(1,2)

3

In [3]:
add(a=2,b=3) # you can specify the parameters by name

5

In [4]:
add(b=5,a=2) # you can specify the parameters by name in any order

7

In [8]:
def add3(a,b,/,c):
    """
    This function adds two numbers together.

    Parameters:
    a (int or float): The first number.
    b (int or float): The second number.

    Returns:
    int or float: The sum of a and b.
    """
    return a + b +c

In [15]:
add3(1,2, c=3) # you can specify the last parameter by name, but not the first two due to the `/` in the function definition

6

In [9]:
add3(1,2,3)

6

In [11]:
add3(a=1,b=2,c=3) # you can not specify the parameters by name due to the `/` in the function definition

TypeError: add3() got some positional-only arguments passed as keyword arguments: 'a, b'

In [16]:
def mul3(a,b,*,c):
    """
    This function adds two numbers together.

    Parameters:
    a (int or float): The first number.
    b (int or float): The second number.

    Returns:
    int or float: The sum of a and b.

    """
    print(f'{a=}, {b=}, {c=}') # this is just to show the values of the parameters

    return a * b *c

In [17]:
mul3(1,2,3) # you can not specify the parameters by name due to the `*` in the function definition

TypeError: mul3() takes 2 positional arguments but 3 were given

In [18]:
mul3(1,2,c=3)

a=1, b=2, c=3

6